/* css styles for list items*/
li {
  padding: 5px;
  margin: -10px;
  background: hsl(34, 78%, 91%);
  width: 250px;
}

/* css styles for .label class */
.label {
  font-weight: bold;
}

/* css styles for ul tags  */
ul {
  list-style-type: none;
  padding-left: 10px;
}

/* css styles for vertical-center class  */
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("https://image.freepik.com/free-vector/burger-pattern-background_67556-123.jpg");
  background-repeat: repeat;
}

/* css styles for container div class  */
.container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: #ba5e28;
  border-style: solid;
}

/* css styles for form-group class  */
.form-group {
  margin-bottom: 5px;
}

/* styles for body tag */
body {
  background-image: url("https://image.freepik.com/free-vector/burger-pattern-background_67556-123.jpg");
  background-repeat: repeat;
}

/* styles for burger form item*/
#brg {
  width: 250px;
  height: 70px;
}

/* styles for h1 tags*/
h1 {
  text-align: center;
  padding-bottom: 20px;
}

/* styles for h2 tags*/
h2 {
  padding-bottom: 20px;
}

/* styles for p tags*/
p {
  padding-top: 15px;
}

/* styles for devour-burger button*/
.devour-burger {
  top: -20px;
  height: 30px;
  width: 80px;
  margin-left: 260px;
  position: relative;
}

/* styles for remove-burger button*/
.remove-burger {
  top: -20px;
  height: 30px;
  width: 80px;
  margin-left: 260px;
  position: relative;
}
